@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-white;
  }
  .page-container {
    max-width: 1280px;
    @apply mx-auto;
  }
}
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// remove
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}